.section{
  margin-bottom: 30px;
}

<<<<<<< HEAD
.searchBox {
  position: relative;
  margin-bottom: 30px;
=======
.searchBoxComponent {
  margin-bottom: 16px;
>>>>>>> develop
  cursor: pointer;
}

.weatherCard {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-600);
  margin-bottom: 5px;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.location {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--gray-500);
}

.temperature {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}

.low {
  margin-right: 6px;
  color: var(--blue-main);
}

.high {
  margin-left: 6px;
  color: #ff5858;
}

.description {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  color: var(--gray-600);
}

.character {
  width: 144px;
  height: auto;
}
