.withdrawalContainer {
  min-height: 100vh;
  background-color: var(--blue-light);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 4.375rem var(--tour-container-padding) 2rem
    var(--tour-container-padding);
  background-color: var(--blue-light);
  display: flex;
  flex-direction: column;
}

/* 모바일 최적화 */
@media (max-width: 768px) {
  .content {
    padding: 16px;
  }
} 