@import "../styles/common-variables.css";

.container {
  display: flex;
  flex-direction: column;
  background-color: #eff7ff;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eff7ff;
}

.loader {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: #2d8ae7;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: var(--blue-light);
}

.imageSection {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
