@import "../../styles/tour-variables.css";

.searchSection {
  margin-bottom: 1.5625rem;
}

.noMargin {
  margin-bottom: 0;
}


.searchBox {
  position: relative;
}

.searchInput {
  width: 100%;
  padding: var(--tour-spacing-lg) 3.125rem var(--tour-spacing-lg)
    var(--tour-spacing-md);
  border: none;
  border-radius: var(--tour-border-radius);
  font-family: var(--font-family);
  font-size: var(--tour-body-size);
  color: var(--gray-600);
  font-weight: 500;
  background-color: var(--gray-100);
  box-shadow: var(--tour-card-shadow);
  outline: none;
  line-height: 15px;
}


.searchInput::placeholder {
  color: var(--gray-400);
}

.searchIcon {
  position: absolute;
  right: var(--tour-spacing-sm); /* 12px */
  top: 50%;
  transform: translateY(-50%);
  width: 1.8125rem; /* 29px */
  height: 1.8125rem; /* 29px */
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.2s ease;
}

.searchIcon:hover {
  color: var(--blue-main);
}

