#root {
  position: relative;
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* 선택 사항 */

  /* Font */
  --font-family: 'Pretendard', sans-serif;

  /* Grayscale */
  --gray-100: #ffffff;
  --gray-200: #e5e5e5;
  --gray-300: #a8a8a8;
  --gray-400: #8f8f8f;
  --gray-500: #5e5e5e;
  --gray-600: #1a1a1a;

  /* Colors */
  --blue-main: #2d8ae7;
  --blue-light: #eff7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* 필요에 따라 center로 */
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: var(--font-family);
}


/* input:focus,
textarea:focus {
  border: none;
  outline: none;
}
 */
